@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Montserrat";
  font-weight: 600;
}

.app {
  background: radial-gradient(
    circle,
    rgba(153, 153, 153, 0.75) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  transition: 0.5s;
}

.app.warm {
  background: radial-gradient(
    circle,
    rgba(240, 155, 148, 0.75) 0%,
    rgba(104, 45, 108, 1) 100%
  );
  transition: 0.5s;
}

.app.cold {
  background: radial-gradient(
    circle,
    rgba(190, 227, 255, 0.75) 0%,
    rgba(57, 111, 221, 1) 100%
  );
  transition: 0.5s;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  padding: 50px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.search-bar-content {
  width: fit-content;
  padding: 20px;
  border: 2px solid white;
  margin-bottom: 100px;
  border-radius: 100vh;
  cursor: pointer;
  background-color: var(--spotifyGreen);
}

.search-text {
  color: black;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Montserrat";
  width: 0;
  opacity: 0;
  outline: none;
  background-color: transparent;
  align-items: center;
  transition: all 0.25s ease;
}

.search-text::placeholder {
  color: white;
  font-size: 1.25rem;
  margin-right: 15px;
}

.search-bar-content:hover > .search-text {
  width: 240px;
  opacity: 1;
  transition: 0.25s;
}

.search-bar-content:hover > .search-btn .icon {
  font-size: 1.25rem;
  transition: 0.25s;
}

.search-text:valid {
  width: 240px;
  opacity: 1;
}

.search-text:valid + .search-btn .icon {
  font-size: 1.25rem;
}

.search-btn {
  padding-right: 3px;
}

.search-btn .icon {
  color: white;
  font-size: 2rem;
  transition: 0.25s;
}

.location-box .location {
  color: white;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.weather-box .weather {
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
